<div class="reveal">

	<!-- Used to fade in a background when a specific slide state is reached -->
	<div class="state-background"></div>
	
	<!-- Any section element inside of this container is displayed as a slide -->
	<div class="slides">
		<section>
                        <h2>神精网络教程</h2> 
						<td><img src="/images/Deep learning.jpg" /></td>
			<!--
                        <h1>My Presentation</h1>
			<h3 class="inverted">This is slide 1 description</h3>
			<script>
				// Delicously hacky. Look away.
				if( navigator.userAgent.match( /(iPhone|iPad|iPod|Android)/i ) ) document.write( '<p style="color: rgba(0,0,0,0.3); text-shadow: none;">('+'Tap to navigate'+')</p>' );
			</script>
                        -->
		</section>
		
		<section>
                        <h2>1、智能中国网</h2>
                        <h3>www.5iai.com</h3>
			<!--
                        <h2>Slide 2</h2>
			<p>
				Please update slide 2 description here.
			</p>
			-->
		</section>
		
		<!-- Example of nested vertical slides -->
		<section>
			<h2>生物神经元的</h2>
			<h2>结构与功能特点</h2>
                        <p>生物神经元在结构上由四部分构成</p>
                        <p>细胞体</p>
                        <p>树突</p>
                        <p>轴突</p>
                        <p>突触</p>
                        <!--
                        <section>
				<h2>Vertical Slides</h2>
				<p>
					Slides can be nested inside of other slides,<br/>
					try pressing <a href="#/2/1">down</a>.
				</p>
				<a href="#/2/1" class="image">
					<img src="/images/arrow_down.png">
				</a>
			</section>
			<section>
				<h2>Basement Level 1</h2>
				<p>Press down or up to navigate.</p>
			</section>
			<section>
				<h2>Basement Level 2</h2>
				<p>Description for basement 2</p>
			</section>
			<section>
				<h2>Basement Level 3</h2>
				<p>This is it, time to go back up.</p>
				<a href="#/2" class="image">
					<img src="/images/arrow_up.png">
				</a>
			</section>
                        -->
		</section>

		<section>
                        <h2>人工神经元模型</h2>
                        <p>1.一组连接</p>
                        <p>2.一个加法器</p>
                        <p>3.一个激活函数</p>
			<!--
                        <h2>Holistic Overview</h2>
			<p>
				Press <strong>ESC</strong> to enter the slide overview!
			</p>
                        -->
		</section>

		<section>
                        <h2>阈值逻辑单元</h2>
                        <p>理解神经网络的第一步是从对抽象生物神经开始，并把重点放在 阈值逻辑单元（TLU）这一特征上。
一个 TLU 是一个对象，它可以输入一组加权系数的量，对它们进行求和，如果这个和达到或者超过了某个阈值，输出一个量。
 让我们用符号标注这些功能，首先，有输入值以及它们的权系数：X 1, X 2, ..., X n和 W 1, W 2, ..., W n。接着是求和计算出的 X i*W i ，产生了激发层 a，换一种方法表示：</p>
<br/>a = (X1 * W1)+(X2 * W2)+...+(Xi * Wi)+...+ (Xn * Wn)<br/>

                        <!--
			<h2>Works in Mobile Safari</h2>
			<p>
				Try it out! You can swipe through the slides pinch your way to the overview.
			</p>
                        -->
		</section>
		
		
		<section>
		<p>监督式学习</p>
		<td><img src="/images/Supervised learning.jpg" /></td>
		</section>

	</div>

	<!-- The navigational controls UI -->
	<aside class="controls">
		<a class="left" href="#">&#x25C4;</a>
		<a class="right" href="#">&#x25BA;</a>
		<a class="up" href="#">&#x25B2;</a>
		<a class="down" href="#">&#x25BC;</a>
	</aside>

	<!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
	<div class="progress"><span></span></div>
	
</div>





